.windowPopupAdminBlock{
  @extend .default_values;
  max-width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  background-color: rgba(0,0,0,.5);
  top: 0;
  left: 0;
  z-index: 1;  
  display: none;
    .mediaContainer{
      width: 500px;
	  height: 190px;
      padding: 5px;
	  background-color: white;
	  border-radius: 5px;
	  position: absolute;
	  margin-left: 30%;
	  top:25%;
	  overflow: auto;
	  z-index: 10;
         .buttonClose{
           position: relative;
	       left:475px;
	       width: 20px;
	       margin-top: 5px;
	       margin-bottom: -10px;
            .close{
             background-color: white;
		     border-style: none;
		     font-weight: bold;
		     color: gray;
            }
        }
             h1{
                font-family: _Josefin_Sans_;
                font-size: 20px;
                margin: 0;
             }
             textarea{
                 width: 100%;
                 height: 40px;
             }
             .time{
                 display: inline-flex;
                 h1{
                    font-family: _Josefin_Sans_;
                    font-size: 15px;
                    margin: 0;
                 }
                 }
        .blockButtons{
                    margin-top: 5px;
                    margin-left: 50px;
                    input{
                    font-family: _Josefin_Sans_;
                    color: white;
                    width: 80px;
                    height: 40px;
                    background-color: rgba(60, 115, 180, 0.8);
                    float: right;
                    border: 2px solid rgba(60, 115, 160, 0.8);
                    border-radius: 5px;
                    &:hover{
                    background-color: rgba(60, 115, 250, 0.8);
                }
            }
        }
        }
             }
        