@font-face {
    font-family: _Josefin_Sans_;
    src: url("../fonts/JosefinSans-Regular.ttf");
}
@font-face {
    font-family: _Gentleman_Rainbow_;
    src: url("../fonts/GentlemanRainbow-Regular.ttf");
}
