.uploadPhoto{
  width: 100%;
  max-width: 100%;
  height: auto;
  overflow: hidden;
  .mediaContainer{
    @extend .default_values;
    .displayForm{
      @extend .default_values;
      overflow: hidden;
      margin-bottom: 10px;
      input{
        font-family: _Josefin_Sans_;
        background-color: rgba(206,38,63,.8);
        border: 1px solid black;
        border-radius: 5px;
        color: white;
        font-weight: 700;
        font-size: 20px;
        width: 100%;
        height: 75px;
        &:hover{
          background-color: rgba(250,38,63,.8);
        }
      }
    }
    .form{
      display: none;
      form{
        textarea{
          font-family: _Josefin_Sans_;
          width: 100%;
          resize: none;
        }
        label{
          width: 100px;
          height: 100px;
          display: table;
          text-align: center;
          float: left;
          background-color: #CCC;
          border: 1px solid black;
          border-radius: 5px;
          &:hover{
            background-color: #DDD;
          }
          span{
            display: table-cell;
            vertical-align: middle;
          }
        }
        input{
          font-family: _Josefin_Sans_;
          color: white;
          width: 80px;
          height: 40px;
          background-color: rgba(60, 115, 180, 0.8);
          float: right;
          border: 2px solid rgba(60, 115, 160, 0.8);
          border-radius: 5px;
          &:hover{
            background-color: rgba(60, 115, 250, 0.8);
          }
          &[type="file"]{
            display: none;
          }
        }
      }
    }
  }
}
